.content {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  mix-blend-mode: difference
  
}

.content_inner {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.text-btn {
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
}

@media(hover: hover) {
  .text-btn:hover {
      opacity:.25
  }
}
