
.home {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap
}

.home_aboutme {
    line-height: 1.5
}

.home_aboutme span {
    display: block
}

.project {
    padding: calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
    text-align: right;
    white-space: nowrap
}

@media(min-width: 1280px) {
    .project {
        padding:calc(var(--pad)*2 + 125px) calc(var(--pad)*2)
    }
}

.project_section+.project_section {
    margin-top: 100px
}

.project_heading {
    font-weight: 400;
    margin-top: 45px;
}

.project_list {
    margin: 5px 0 10px 0;
}

.project_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 15px
}

@media(min-width: 1280px) {
    .project_item {
        display:flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: baseline;
        column-gap: 15px
    }
}

.project_title {
    font-weight: 200;
    font-size: 7vw;
    text-align: right
}

@media(min-width: 800px) {
    .project_title {
        font-size:50px
    }
}

.is-monospaced .project_title {
    letter-spacing: -0.04em
}

.project_info {
    margin-top: 5px
}

@media(min-width: 1280px) {
    .project_info {
        margin-top:0
    }
}

.info {
    position: absolute;
    left: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap
}

@media(min-width: 1280px) {
    .info {
        position:relative;
        left: auto;
        bottom: auto;
        height: calc(var(--vh, 1vh)*100)
    }
}

@media(min-width: 1280px) {
    .info_item {
        position:absolute
    }
}

.info_item+.info_item {
    margin-top: 50px
}

@media(min-width: 1280px) {
    .info_item+.info_item {
        margin-top:0
    }
}

@media(min-width: 1280px) {
    .info_item-1 {
        left:55%;
        top: calc(50% - 19px)
    }
}

@media(min-width: 1280px) {
    .info_item-2 {
        right:calc(var(--pad)*2);
        top: calc(var(--pad)*2)
    }
}

@media(min-width: 1280px) {
    .info_item-3 {
        right:calc(var(--pad)*2);
        bottom: calc(var(--pad)*2)
    }
}

.info_content {
    line-height: 1.5
}

.info_content .is-light {
    font-weight: 400
}

.contact {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap
}

.contact_text {
    display: block
}

.contact_text+.contact_text {
    margin-top: 1em
}

.contact_text .jp {
    font-family: "Neue Montreal","Hiragino Sans",Meiryo,sans-serif
}

.faq {
    padding: calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
    white-space: initial
}

@media(min-width: 1280px) {
    .faq {
        padding:calc(var(--pad)*2 + 125px) calc(var(--pad)*2)
    }
}

.faq_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5em
}

.faq_item {
    width: calc(var(--vw)*100 - var(--pad)*4 - 82px)
}

@media(min-width: 800px) {
    .faq_item {
        width:500px
    }
}

.faq_q h2 {
    margin-top: -0.3em;
    line-height: 1.5
}

.faq_a {
    margin-top: 2em;
    line-height: 1.5;
    font-weight: 400
}

.faq_a a {
    text-decoration: underline
}



.page {
    display: none;
    width: 100%;
    min-height: calc(var(--vh, 1vh)*100);
}

.page.is-leaving {
    position: absolute;
    left: 0;
    top: 0
}