

.siteHeader {
  position: fixed;
  z-index: 10;
  left: calc(var(--pad)*2);
  top: calc(var(--pad)*2);
  mix-blend-mode: difference
}

.siteHeader_title {
  margin: -0.1em 0 0 -0.04em;
  font-weight: 200;
  font-size: 30px
}

@media(min-width: 1280px) {
  .siteHeader_title {
      font-size:60px
  }
}

#monospaced  .siteHeader_title {
  letter-spacing: -0.04em
}

.siteHeader_label {
  margin-top: 5px;
  font-weight: 500;
  /* font-size: 80%; */
  opacity: .5;
  mix-blend-mode: difference
}

.siteHeader_nav {
  margin-top: 50px
}

.siteHeader_nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 15px
}

.siteHeader_nav ol li {
  position: relative
}

.siteHeader_nav ol li ._dot {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 10px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
}

.siteHeader_nav ol li ._text {
  position: relative;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
}

.siteHeader_nav ol li ._text::before {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px)
}

@media(hover: hover) {
  .siteHeader_nav ol li ._text:hover {
      opacity:.25
  }
}

.siteHeader_nav ol li.is-selected {
  pointer-events: none
}

.siteHeader_nav ol li.is-selected ._dot {
  opacity: 1
}

.siteHeader_nav ol li.is-selected ._text {
  opacity: 0
}
